{% extends "base.html" %}

{% block title %}Список отказов{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Список отказов</h1>
    <a href="{{ url_for('main.add_type') }}" class="btn btn-success">
        <i class="bi bi-plus-lg"></i> Добавить модель
    </a>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>ФИО</th>
                        <th>Специализация</th>
                        <th>Компетенции</th>
                        <th>Фотография</th>
                        <th>Проверенный</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }} {{ user.patronymic }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.bio }}</td>
                        <td>{{ user.verified }}</td>
                        <td>{{ user.avatar }}</td>
                        <td>
                            <a href="{{ url_for('main.edit_profile', user_id=user.id) }}" class="btn btn-sm btn-success">
                                <i class="bi bi-tools"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}