{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1 class="mb-4">Система учёта устройств и ремонтов</h1>
        <p class="lead">Управляйте вашими устройствами, фиксируйте отказы и учёт ремонтов</p>
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ devices_count }}</h5>
                        <p class="card-text">Устройств в системе</p>
                        <a href="{{ url_for('main.device_list') }}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ faults_count }}</h5>
                        <p class="card-text">Зарегистрированных отказов</p>
                        <a href="{{ url_for('main.fault_list') }}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ repairs_count }}</h5>
                        <p class="card-text">Выполненных ремонтов</p>
                        <a href="{{ url_for('main.repair_list') }}" class="btn btn-primary">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}